
html {
    background: rgb(22, 29, 37);
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Kreon', serif;
}

a {
    color: rgb(113, 127, 255);
}

h1, h2, h3, h4, h5 {
    font-family: serif;
}

.banner {
    background: black;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -1;
}

.banner .fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to left, black, transparent, transparent, transparent, black);
}

.banner video {
    max-height: 500px;
    max-width: 100%;
}

.title {
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 248, 147);
    text-align: center;
    font-size: 3.4rem;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.title span {
    font-size: 4rem;
}
.desc {
    color: rgb(114, 123, 151);
    text-align: center;
    font-size: 1.5rem;
    padding: 0 50px;
}

.section {
    color: rgb(156, 168, 206);
    background: rgba(28, 39, 78, 0.555);
    height: 500px;
    margin: 100px 0;
    font-size: 1.3rem;
}

.section b {
    color: white;
}

.section img, .section video {
    height: 500px;
    margin-right: 50px;
    float: left;
}

.section.right img, .section.right video {


    margin-right: 0px;
    margin-left: 50px;
    float: right;
}


.section .text {
    padding: 30px 100px;
}

.section h1 {
    color: #eb808a;
}

.webdemo-btn {
    text-decoration-line: none;
    background: rgb(80, 153, 137);
    color: white;
    font-size: 28px;
    padding: 12px 30px;
    border-radius: 5px;
    font-family: serif;
}
.webdemo-btn:hover {
    background: rgb(81, 163, 108);
}

@media only screen and (max-width: 1500px) {



    .section img, .section video {

        height: auto !important;
        width: 100% !important;

        margin: 0px !important;
        float: none !important;
    }

    .section .text {
        padding: 30px 30px;
    }

    .section {
        background: rgb(255, 255, 255);
        color: rgb(0, 42, 82);
        height: auto;
        margin: 100px 0;
        font-size: 1.3rem;
        padding: 0 0 40px;
    }
    .section b {
        color: black;
    }
}
